@font-face {
  font-family: "font1";
  src: url(./Fonts/Roboto/Roboto-Regular.ttf);
}
$font1: "font1", sans-serif;
$color1: rgb(39, 39, 39);
$color2: rgb(243, 243, 243);
$color3: rgb(70, 70, 70);
$color4: rgb(23, 63, 244);
$color5: rgb(237, 23, 244);

@mixin justify($content) {
  display: flex;
  justify-content: $content;
  align-items: center;
}

@keyframes navbarEffect {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font1;
}
body {
  text-align: center;
  background: $color1;
}
